@use "colors" as colors;
@use "breakpoints" as breakpoints;

#check-availabilities {
    box-sizing: border-box;
    margin: 50px auto;
    padding: 40px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
}
.check-availabilities--btn--wrapper {
    display: flex;
    justify-content: center;
}
.btn {
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
    background-color: colors.$black;
    border: none;
    padding: 0 40px;
    margin: 20px auto 0;
    height: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -webkit-transition: background 300ms ease-in;
    -moz-transition: background 300ms ease-in;
    -ms-transition: background 300ms ease-in;
    -o-transition: background 300ms ease-in;
    transition: background 300ms ease-in;
    &:hover {
        background-color: colors.$violet;
    }
}

#calendar-wrapper {
    top: 10%;
    @media (max-width: breakpoints.$medium) {
        top: 0;
    }
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    margin: auto;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .flatpickr-rContainer {
        width: 100%;
        .flatpickr-days {
            width: 100% !important;
            .dayContainer {
                width: 50% !important;
                max-width: 50%;
                @media (max-width: breakpoints.$medium) {
                    width: 100% !important;
                    max-width: 100%;
                }
            }
        }
    }
    .dayContainer {
        padding: 0 5px;
    }
    .flatpickr-calendar {
        width: 100% !important;
        max-width: 900px !important;
        box-sizing: content-box;
        padding: 30px;
        top: 0 !important;
        left: 0 !important;
        position: relative;
        box-sizing: border-box;
        @media (max-width: breakpoints.$medium) {
            min-height: 100vh;

        }
        &::before,
        &::after {
            display: none;
        }
    }
    .flatpickr-prev-month {
        top: 27px;
        left: 20px;
    }
    .flatpickr-next-month {
        top: 27px;
        right: 20px;
    }
    .flatpickr-day {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.75em;
        border-radius: 10px;
        margin-bottom: 2px;
        width: 50px;
        border: 2px solid #fff;
        max-width: 100%;
        height: 50px;

        position: relative;
        z-index: 10;

        &.flatpickr-disabled {
            background: colors.$grey_light;
            color: colors.$grey;
        }
        &.endRange,
        &.inRange,
        &.startRange {
            border: none;
            background-color: colors.$green_light;

            position: relative;
            .day-available {
                padding: 2px;
                box-sizing: border-box;
                background: none;
                .day-price {
                    bottom: 6px;
                }
            }
        }
        &.startRange {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            z-index: 1;
            background-color: colors.$green;
            span {
                color: #fff;
            }
        }
        &.endRange {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            z-index: 10;
            background-color: colors.$green;
            -webkit-box-shadow: -4px 0 0 colors.$green_light;
            box-shadow: -4px 0 0 colors.$green_light;
            span {
                color: #fff;
            }

            &.startRange {
                border-radius: 10px;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }
        }
        &.inRange {
            border: none;
            border-radius: 0;
            z-index: 2;
            -webkit-box-shadow: -1px 0 0 colors.$green_light;
            box-shadow: -1px 0 0 colors.$green_light;
        }
    }

    .dayContainer:nth-child(n + 1) {
        .flatpickr-day {
            &.inRange,
            &.endRange:not(.startRange) {
                &:nth-child(7n + 7) {
                    -webkit-box-shadow: -4px 0 0 colors.$green_light !important;
                    box-shadow: -4px 0 0 colors.$green_light !important;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                &:nth-child(7n + 1) {
                    -webkit-box-shadow: none !important;
                    box-shadow: none !important;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }
    }
}
.day-available {
    color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    &.price-position--low {
        background-color: colors.$green_lighten;

        .day-price {
            color: colors.$green_dark;
        }
    }

    &.price-position--high {
        background-color: colors.$yellow_light;
        .day-price {
            color: colors.$red;
        }
    }
}

.day-number {
    color: #092315;
}

.day-price {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    font-size: 0.7rem;
    font-weight: 400;
    left: 0;
    right: 0;
    line-height: 1em;
    color: colors.$violet_dark_lighter;
}

.calendar--description {
    text-align: left;
    padding: 10px;
}

.calendar--price-description {
    text-align: left;
    display: flex;
    padding: 10px;

    div {
        position: relative;
        padding-left: 30px;
        margin-right: 20px;
        &::before {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            z-index: 1;
            top: 2px;
            left: 0;
        }
        &.low-price::before{
            background-color: colors.$green_lighten;
        }
        &.high-price::before {
            background-color: colors.$yellow_light;
        }
    }
}
